body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.02em;
}
a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
}

.portfolio-text,
.teams-text,
.benefits-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.example,
.person-name,
.benefits-name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.specialization,
.benefits-description,
.example-description {
  color: #434455;
  letter-spacing: 0.02em;
}
.logo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
}

.link {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.header-addresses {
  font-style: normal;
}
.header-addresses > ul > li > a {
  color: #434455;
}
.hero-image {
  background: #2e2f42;
}

.hero-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
}
.button {
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.teams {
  background-color: #f4f4fd;
}

.team-list {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}
.footer > .logo > .studio {
  color: #f4f4fd;
}

.footer-p {
  color: #f4f4fd;
}
